.caixaflutuante{
    top: 50%;
    bottom: 50%;
    border-radius: 24px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  
  button{
    background-color: darkgreen;
    margin: 10px; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover{
    background-color: green;
  }