.caixaflutuante{
    border-radius: 24px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  
  .fechar{
    background-color: darkgreen;
    margin: 10px; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .fechar:hover{
    background-color: green;
  }

  .slider{
    width: 55%;
    margin: 10px 0;
  }

