/*src/styles/cardSearch.css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    width: 100vw;
    height: 100vh;
}

.header {
    width: 100vw;
}
.header > h1 {
    visibility: hidden;
}

.conteudoDiv {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: red;
    height: 900px;
}

.formularioDiv {
    height: 350px;
    background-color: rgb(49, 102, 148);
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: flex-start;

}

.formularioDiv > form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: aliceblue;
    height: 200px;
}

.lista {
    visibility: hidden ;
}
label {
    width: 100%;
    display: flex;
    align-items: center;
    height: fit-content;
}
input {
    background-color: rgba(222, 222, 222, 0.074);
    border: none;
    height: 20px;
    width: 100%;
    border-radius: 50px;
    padding: 15px;
    box-shadow: 0 0 5px 0 black;
}

select {
    width: 100%;
    height: 30px;
    border-radius: 50px;
    box-shadow: 0 0 5px 0 black;
    background-color: rgba(0, 0, 0, 0);
}
