.edit-profile-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.edit-profile-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.edit-profile-form .form-group {
  margin-bottom: 15px;
}

.edit-profile-form .form-group label {
  display: block;
  margin-bottom: 5px;
}

.edit-profile-form .form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-profile-form .form-group img.user-photo {
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #06b3238e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.form-group input{
  height: 30px;
}

.submit-button:hover {
  background-color: #02f366;
}
