/* src/components/Footer.js */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(5, 5, 5, 0.227);
    height: 7vh;
    width: 100%;
}

#copy{
    margin: 0px;
    left: auto;
    padding: 0px;
    color: rgb(0, 0, 0);
}