/* src/components/Footer.js */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(167, 50, 50, 0);
    color: #dadada;
    
    height: 7vh;
    width: 100%;   
}

#copy{
    margin: 0px;
    left: auto;
    padding: 0px;
    color: #dadada;
    @media (prefers-color-scheme: dark) {
        body {
          background-color: #1f2023;
          color: #dadada;
        }
    }
}