/* src/styles/Header.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(5, 5, 5, 0.227);
}

#logoDiv {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    border: 2px solid black;
    height: 40px;
    width: 40px;
}
#logoDiv > a {
    font-size: 10px;
    color: white;
}
#buscaDiv {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.material-symbols-outlined {
    color: black;
}
.material-symbols-outlined:hover {
    color: rgb(83, 83, 83);
}
    
    

