/* src/styles/Header.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: 20px;
    background-color: rgba(5, 5, 5, 0.227);
}

.profile-div img {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    height: 40px;
    width: 40px;
}

#buscaDiv {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.material-symbols-outlined {
    color: black;
}
.material-symbols-outlined:hover {
    color: rgb(83, 83, 83);
}
    
    

