
* {
box-sizing: border-box;
outline: none;
}

%flex {
display: flex;
align-items: center;
}

$primary-font-color: #232428;
$secondary-font-color: #adadad;
$active-color: #499d77;

$green-dark: #51a380;
$green-light: #e6f1ed;

/*ICONS*/
@mixin playIcon($color) {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23#{$color}' stroke='%23#{$color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play'%3E%3Cpolygon points='5 3 19 12 5 21 5 3'/%3E%3C/svg%3E");
}

button {
border: none;
cursor: pointer;
background-color: transparent;
transition: all .2s ease-in;
}

a {
text-decoration: none;  
}

input[type=text] {
border: none;
}

::-webkit-scrollbar {
width: 6px;
border-radius:10px;
}
::-webkit-scrollbar-track{
background:none;
}
::-webkit-scrollbar-thumb {
background: rgba(216, 216, 216,0.5);
border-radius: 10px;
}

// div da pagina inteira
.app-wrapper {
display: flex;
flex-flow: row nowrap;
justify-content: center;
width: 100vw;
height: 100vh;
background-color: #fff;
}

// div do container da esquerda

.left-area {
width: 80vw;
max-width: 190px;
padding-bottom: 10px;
transition: all .6s linear;
border-right: 1px solid #ddd;

display: flex;
flex-direction: column;

&.hide-on-mobile {
  transition: all .6s linear;
  
  @media screen and (max-width: 900px) {
    & {
      display: none;
      visibility: hidden;
    }
  }
}
}

// div do header do container da esquerda

.app-header {
display: flex;
align-items: center;
flex-flow: row nowrap;
justify-content: space-around;

font-size: 20px;
font-weight: bolder;
border-bottom: 1px solid #c9c8c8;
height: 40px;
}
// imagem do toggle de menu
.burguerMenu{
width: 20px;
height: 20px;
}

// div onde tem imagem do perfil

.profile {
display: flex;
align-items: center;
justify-content: space-between;

padding: 5px;
cursor: pointer;

//imagem do perfil

img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
}
}

// div do menu abaixo do perfil

.item-link {
display: block;
padding: 12px 20px;
font-size: 14px;
font-weight: 500;
text-decoration: none;
color: $secondary-font-color;
transition: all .2s ease-in;
width: 100%;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;

&:not(:first-of-type) {
  margin-top: 10px;
}

&.active {
  color: $active-color;
  background-color: lighten($active-color,46%);
}

&:not(.active):hover {
  color: lighten($active-color,30%);
  background-color: lighten($active-color,52%);
}

.link-icon {
  width: 16px;
  display: inline-block;
  vertical-align: sub;
  margin-right: 4px;
}
}

.list-header {
font-size: 12px;
color: $secondary-font-color;
display: flex;
align-items: center;
justify-content: space-between;
padding:  10px 20px;
margin: 10px 0;
transition: all .2s ease-in;
cursor: pointer;
background-color: lighten($secondary-font-color,30%);

svg { transition: all .2s ease-in; }

span {
  display: block;
  font-weight: 500;
}

&:hover svg {
  transition: all .2s ease-in; 
  fill: $secondary-font-color;
  line { stroke: #fff; }
}
}

.btn-invite {
background-color: $active-color;
border: none;
color: #fff;
border-radius: 4px;
padding: 10px;
font-size: 14px;
line-height: 20px;
width: 100%;
max-width: 160px;
margin: 0 auto;
display: block;
margin-top: auto;

&:hover {
  background-color: darken($active-color,4%);
}
}

.left-area-content {
flex: 1;
overflow: auto;
}

// div do conteudo do lado direito

.right-area {
flex: 1;
display: flex;
align-items: center;
flex-direction: column;
max-width: calc(100% - 190px);

@media screen and (max-width: 900px) {
  & {
    max-width: 100%;
  }
}
}

// header principal da parte direita

.right-area-upper { 
  padding: 15px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-around;

  background-color: #18b94b72;
  width: 100%;
  height: 70px;
  max-height: 70px;
  border-bottom: 1px solid #ddd;

//menu burguer 

.menu-button {
display: none; //em telas grandes nao ira aparecer
}
@media screen and (max-width: 900px) {
& {
  .menu-button { // div do menu burguer
    display: block;
  }
  padding: 0;
}
}

// para telas pequenas
@media screen and (min-width: 400px) {
  & {
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
}

/* Estilo inicial da div da barra de pesquisa */

.search-part-wrapper {
background-color: blue;
border-radius: 50px;

display: flex;
align-items: center;
justify-content: flex-start;

width: 30px; 
overflow: hidden; 
transition: width 0.5s ease-in-out;
}

/* Estilo do input de pesquisa */
.search-input {
width: 100%; 
padding-left: 30px; /* Espaçamento interno à esquerda para o texto */
font-size: 14px;
line-height: 20px;

color: #adadad;
border: none;

// iamgem da luneta 
outline: none; 
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23adadad' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cpath d='M21 21l-4.35-4.35'/%3E%3C/svg%3E%0A");
background-size: 15px;
background-repeat: no-repeat;
background-position: 7.2px center; /* Posiciona a luneta à esquerda com 10px de deslocamento */
transition: background-position 0.5s ease-in-out; /* Transição suave para a posição do background */
}

/* Efeito hover na wrapper */
.search-part-wrapper:hover {
width: 150px; 
}

/* Efeito hover no input */
.search-part-wrapper:hover .search-input {
background-position: 5px center;
}

// efeito quando clicar no input
.search-input:focus {
background-image: none; /* Remove o background-image ao focar */
padding-left: 10px;
color: #a2a1a1; /* Cor do texto ao focar */
}


.more-menu-list {
position: absolute;
top: 100%;
right: 0;
background-color: #fff;
z-index: 1;
border-radius: 4px;
box-shadow: 0px 2px 4px 2px rgba(209, 209, 209, 0.4);
padding: 10px 0;
transform-origin: center;

&.hide { display: none; }

&:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  transform: rotate(45deg);
  border-radius: 2px;
  top: -6px;
  right: 32px;
  box-shadow: 0px 0px 4px 0px rgba(209, 209, 209, 0.4);
}

li {
  padding: 8px 20px;
  list-style-type: none;
  cursor: pointer;
  
  &:hover {
    background-color: lighten(#e6f1ed,4%);
  }
}
}

// div do container do chat

//.btn-chat {}



#chatimg:hover {
  transform: translate(0, 2px);
  background-color:black;
}

// container do Conteudo de noticias da direita de noticias

.page-right-content {
  flex: 1;
  width: 100%;
  padding: 20px;
  overflow: auto; 

  @media screen and (min-width: 920px) {
    width: 90%;
    
  }
}

// imagens das noticias no slider

.imagem-slider {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
// slider de noticias  estilos
.SliderDiv {
  width: 100%;

}

.mySwiper {
  width: 100%;
  border-radius: 5px;
  position: relative; 
  height: 400px; 
}

// container dentro do slider que contem titulo e conteudo

.middle-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  padding: 16px;
  color: #fff;
}

// titulo da noticia no slider

.title-slider {
  color: #ffffff; 
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 8px;

}
// conteudo da noticia dentro do slider

.news-content {
  color: #ffffff; 
  font-size: 18px;
  margin-bottom: 16px;
}

.mySwiper:hover.middle-slider {
  opacity: 1;
}

// Container de noticias apos o slider

.content-line {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: fit-content;
}

// titulo para o container

.line-header {
  display: flex;
  align-self: flex-start;
  
}

// Container das noticias - wrapper

.owl-carousel {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  align-items: stretch;

  height: fit-content;
  @media screen and (min-width:768px) {
    display: flex;
    justify-content: space-between;
    
  }
}

.item-noticia {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(209,209,209,.4);
  margin-top: 50px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 .noticia-description-div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.57);
    padding: 8px;
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
 .item-noticia {
    width: 48%;
  }
}

.noticia-description {
  &-header {
    font-weight: bold;
    margin: 16px 0 4px  0;
  }

  &-subheader {
    color: #bebfbf;
    margin: 0;
    font-size: 15px;
    text-align: justify;
  }

}