
* {
box-sizing: border-box;
outline: none;
}

body {
  background-color: #dadada;
  color: #1f2023;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #3a3c42;
    color: #dadada;
  }
}

%flex {
display: flex;
align-items: center;
}

$primary-font-color: #232428;
$secondary-font-color: #adadad;
$active-color: #499d77;

$green-dark: #51a380;
$green-light: #e6f1ed;

/*ICONS*/
@mixin playIcon($color) {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23#{$color}' stroke='%23#{$color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play'%3E%3Cpolygon points='5 3 19 12 5 21 5 3'/%3E%3C/svg%3E");
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
.nav * {
  box-sizing: border-box;
}

.nav {
  align-items: center;
  border-bottom: 1px solid #ddd;
  display: flex;
  font-family: "Open Sans";
  font-size: 12pt;
}

.navcontainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1vw;
  width: 80%;
}

.navinner {
  position: relative;
}

.navinner > a:not(.profileddtrigger):not(.ddtriggermobile) {
  color: #7b7de5;
  margin: 0 .25vw;
  padding: 0 .5vw;
}

@media (max-width: 1000px) {
  .navinner > a:not(.profileddtrigger):not(.ddtriggermobile) {
    display: none;
  }
}

.profileddtrigger {
  margin: 0 .25vw;
}

.ddtriggermobile {
  margin-right: .75vw;
  position: relative;
  top: .75vh;
}

@media (min-width: 1000px) {
  .ddtriggermobile {
    display: none;
  }
}

.ddtriggermobile i {
  color: #7b7de5;
  font-size: 24pt;
}

@media (min-width: 1000px) {
  .mobilemenudd {
    display: none;
  }
}

.profileddtrigger {
  position: relative;
}

.profileddtrigger:after {
  color: #777;
  content: '\E5C5';
  font-family: 'Material Icons';
  top: 50%;
}

.profileddtrigger img {
  border: 3px solid #eee;
  border-radius: 50%;
  height: 52px;
  padding: 1px;
}

.ddcontainer {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 14px 0 rgba(0, 0, 0, 0.2);
  min-width: 200px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: -3px;
  top: 70px;
  transform: translateY(-5px);
  transition: 300ms ease;
  z-index: -1;
}

.ddcontainer.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
  z-index: 50;
}

.ddheader {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5vw;
}

.ddheader:hover,
.ddheader:focus {
  background: #f7f7f7;
}

.ddheader img {
  border-radius: 50%;
  height: 52px;
}

.ddheader .ddname {
  color: #555;
  margin: 8px 0 4px;
}

.ddheader .ddtitle {
  color: #999;
  font-size: 10pt;
}

.ddnav {
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
}

.ddnav a {
  border-bottom: 1px solid #e5e5e5;
  color: #7b7de5;
  display: flex;
  padding: 8px 16px;
}

.ddnav a span:not(.material-icons) {
  margin-left: 5px;
}

.ddnav a:hover,
.ddnav a:focus {
  background: #f7f7f7;
}

a {
  text-decoration: none;
}
button {
border: none;
cursor: pointer;
background-color: transparent;
transition: all .2s ease-in;
}

a {
text-decoration: none;  
}

input[type=text] {
border: none;
}

::-webkit-scrollbar {
width: 6px;
border-radius:10px;
}
::-webkit-scrollbar-track{
background:none;
}
::-webkit-scrollbar-thumb {
background: rgba(216, 216, 216,0.5);
border-radius: 10px;
}

// div da pagina inteira

.app-wrapper {

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

// div do container da esquerda

.left-area {
  width: 80vw;
  padding-bottom: 10px;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  background-color: #3a3c42;
}

@media screen and (max-width: 900px) {
  .left-area {
    z-index: 1;
    position: fixed;
    left: 300px;
    top: 0;
    height: 100vh;
    display: block;
    width: 100%;
    transform: translateX(-100%);
  }
  
}

@media (min-width: 901px) {
  .hide-on-mobile {
    display: block; 
    background-color: #3a3c42;
    color: #dadada;
    
  }
}

// div do header do container da esquerda

.app-header {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-around;

  font-size: 20px;
  font-weight: bolder;
  border-bottom: 1px solid #c9c8c8;
  height: 40px;

}

// div do menu da esquerda em telas grandes

.item-link {
  display: block;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: $secondary-font-color;
  transition: all .2s ease-in;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:not(:first-of-type) {
    margin-top: 10px;
  }

  &.active {
    color: $active-color;
    background-color: lighten($active-color,46%);
  }

  &:not(.active):hover {
    color: lighten($active-color,30%);
    background-color: lighten($active-color,52%);
  }

  .link-icon {
    width: 16px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 4px;
  }
}

.list-header {
  font-size: 12px;
  color: $secondary-font-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  10px 20px;
  margin: 10px 0;
  transition: all .2s ease-in;
  cursor: pointer;
  background-color: lighten($secondary-font-color,30%);

  svg { transition: all .2s ease-in; }

  span {
    display: block;
    font-weight: 500;
  }

  &:hover svg {
    transition: all .2s ease-in; 
    fill: $secondary-font-color;
    line { stroke: #fff; }
  }
}

.left-area-content {
  flex: 1;
  overflow: auto;
  color: black;
}

// div do conteudo do lado direito

.right-area {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: calc(100% - 190px);

  @media screen and (max-width: 900px) {
    & {
      max-width: 100%;
    }
  }
}

// header principal da parte direita

.right-area-upper {
  padding: 15px;
  display: flex;
  align-items: center ;
  flex-flow: row-reverse ;
  justify-content: space-between;

  background-color: #18b94b8e;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #c6c6c6;
}

.menu-button {
    display: block; // show on small screens
    background: none;
    border: none;
    cursor: pointer;

  @media screen and (min-width: 900px) {
    display: none;
    visibility: hidden;
    
  }
}

.burguerMenu {
  width: 20px;
  height: 20px;
}
.burguerMenu:hover {
  cursor: pointer;
}
// menu da esquerda

.left-area-menu {
  position: fixed; 
  width: 100vw; /* Cover the entire screen width */
  height: 100vh; /* Cover the entire screen height */
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  display: block; /* Hide by default */
  z-index: 1; /* Make sure it's on top of other elements */
  @media screen and (max-width: 900px) {
    .left-area-menu.active {
      display: none; /* Hide when.active class is added */
    }
    .lista-menu-mobile {
      list-style: none;
      padding: 0;
      margin: 0;
    
      li {
        margin-bottom: 10px;
    
        a {
          text-decoration: none;
          color: #333;
    
          &:hover {
            color: #666;
          }
        }
      }
    }
    
  }
  @media screen and (min-width: 900px) {
    display: none;
    
  }
}


//item do menu da esquerda

.item-link{
  max-height: 55px;
  cursor: pointer;
  color: white;
  
}
.link-icon {
  background-position: center;
  background-repeat: no-repeat;
}

.app-wrapper {
  display: flex;
  .left-area {
    width: 300px;
    @media (prefers-color-scheme: dark) {
      background-color: #3a3c42;

    }
    padding: 20px;
    
    @media screen and (min-width:900px) {
      background-color: rgba(255, 255, 255, 0);
      
    }
    .app-header {
      font-size: 24px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .left-area-content {
      margin-top: 20px;
      .page-link-list {
        .item-link {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          color: #333;
          text-decoration: none;
          color: #1f2023;
          &.active {
            font-weight: bold;
          }
          .link-icon {
            margin-right: 10px;
          }
        }
      }
    }
    
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    .chat-icon {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background: none;
      border: none;
      cursor: pointer;
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}
.profile .profile-dropdown a:hover {
  background-color: white;
  font-size: medium;
}
.blur-background {
  filter: blur(5px);
}

// efeito quando clicar no input
.search-input:focus {
background-image: none; /* Remove o background-image ao focar */
padding-left: 10px;
color: #a2a1a1; /* Cor do texto ao focar */
}


.more-menu-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 2px rgba(209, 209, 209, 0.4);
  padding: 10px 0;
  transform-origin: center;

  &.hide { display: none; }

  &:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotate(45deg);
    border-radius: 2px;
    top: -6px;
    right: 32px;
    box-shadow: 0px 0px 4px 0px rgba(209, 209, 209, 0.4);
  }

  li {
    padding: 8px 20px;
    list-style-type: none;
    cursor: pointer;
    
    &:hover {
      background-color: lighten(#e6f1ed,4%);
    }
  }
}

// div do container do chat

.btn-chat {
  background-color: $active-color;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  max-width: 160px;
  margin: 0 auto;
  display: block;
  margin-top: auto;

  &:hover {
    background-color: green;
  }


}
// botao do chat na versao mobile na direita

.btn-chat-right {
  display: none;
}


.app-wrapper.blur-background {
  filter: blur(1.5px);
  pointer-events: none; /* Para que não se possa interagir com o conteúdo desfocado */
}

/* Estilos para centralizar e exibir a sidebar */
// chat
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Para garantir que esteja em primeiro plano */
}

.profile {
  position: relative;
  cursor: pointer;
  display: inline-block;

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 6px;
    border: 3px solid #eee;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: #ccc;
    }
  }

  .profile-dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 14px 0 rgba(0, 0, 0, 0.2);
    width: 150px;
    z-index: 10;
    display: flex;
    flex-direction: column;

    a {
      padding: 10px;
      text-decoration: none;
      color: #7b7de5;
      transition: background 0.3s ease;

      &:hover {
        background: #f7f7f7;
      }
    }
  }
}
.sidebar-container {
  position: relative;
  width: 30vw;
  max-width: 600px;
  height: 95vh;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgb(68, 66, 66) ;
}



#chatimg:hover {
  transform: translate(0, 2px);
  background-color:black;
}

// Container do Conteudo de todas as noticias da direita

.page-right-content {
  flex: 1;
  width: 100%;
  padding: 20px;
  overflow: auto; 

  @media screen and (min-width: 920px) {
    width: 90%;
    
  }
}

// imagens das noticias no slider

.imagem-slider {
  object-fit: cover;
  width: 100%;
  height: 100%;
  @media screen and (min-width: 900px) {
    filter: blur(2px);
  }
}

// slider de noticias  estilos
.SliderDiv {
  width: 100%;
  z-index: 0;
}

.mySwiper {
  width: 100%;
  border-radius: 5px;
  position: relative; 
  height: 400px; 
  box-shadow: 0 0 10px 0.5px rgb(37, 68, 33);
}
.mySwiper:hover {
  cursor: pointer;
}
.mySwiper:hover img {
  filter: none;
  cursor: pointer;
}


// container dentro do slider que contem titulo e conteudo

.middle-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  padding: 16px;
  color: #fff;
}

// titulo da noticia no slider

.title-slider {
  color: #ffffff; 
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 8px;

}
// conteudo da noticia dentro do slider

.news-content {
  color: #ffffff; 
  font-size: 18px;
  margin-bottom: 16px;
}

.mySwiper:hover.middle-slider {
  opacity: 1;
}

// Container de noticias apos o slider

.content-line {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: fit-content;
}

// titulo para o container

.line-header {
  display: flex;
  align-self: flex-start;
  
}

// Container das noticias - wrapper ultimas noticias

.owl-carousel {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  align-items: stretch;
  height: fit-content;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
  }
}
.owl-carousel > a {
  display: flex;  
  justify-content: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
  }
}

// div de cada item de noticia individual

.item-noticia {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(209,209,209,.4);
  margin-top: 50px;
  position: relative;
  box-shadow: 0 0 10px 0.5px rgb(37, 68, 33);
  &:hover {
    cursor: pointer;
  }
  &:hover img {
    filter: none;
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    @media screen and (min-width: 900px) {
      filter: blur(2px);
      
    }
  
  }

 .noticia-description-div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.57);
    padding: 8px;
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
 .item-noticia {
    width: 48%;
  }
}.item-link
.noticia-description {
  &-header {
    font-weight: bold;
    margin: 16px 0 4px  0;
  }

  &-subheader {
    color: #bebfbf;
    margin: 0;
    font-size: 15px;
    text-align: justify;
  }

}


// css do agendamento 
.overlay-appoint {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001; 
}