.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  top:75px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  color: black;

  border-radius: 4px;
  box-sizing: border-box;
}

#btnSubmit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: rgb(18, 136, 8);
  color: white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}

#btnSubmit:hover {
  background-color: rgb(21, 189, 6);
}

.forgot-password {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #007BFF;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}
