@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow: hidden;

}
#loginForm{
  margin-left:20px;
}
p{
  left: -350px;
  margin-top: -20px;
  position: relative;
}
#welcome{
  font-weight: bolder;
  font-size: 26px;
  color: #1a1a1a;
  position: relative;
  left: -376px;
  top:70px;
}
.messagePass{
  margin-top: -39px;
  font: -webkit-control;
  text-align: -webkit-center;
  margin-left: -50px;
}
.messageError{
  color:red;
  margin-top: -39px;
  font: -webkit-control;
  text-align: -webkit-center;
  margin-left: -50px;
  }
  a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
  cursor: pointer;
  font-weight: bold;
  z-index: 10;
  }

  
  
/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  }
  
  #tree{
    z-index: 10;
    width: 400px;
    position:absolute;
    right: 0;
    margin-right:240px;
    top: 50px;
  }
#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: rgb(235,242,244);
  background: linear-gradient(90deg, #EBEFFF 65%, rgba(41,123,69,1) 35%);
  padding: 30px;
  height: 100vh;

  width: 100vw;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}
#login{
  color: #cccccc
}
h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {

  background-color: #56baed;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: rgb(53, 165, 90);
  cursor: pointer;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.eye{
  position: relative;
  right: -10px;
  cursor: pointer;
}
label{
  left: 0;
  position: relative;
  margin-left: -90%;
}
#loginForm{
  margin-top: 110px;
  margin-left:40px;
}
.register {
  display: flex; 
  align-items: center; 
  margin-left: -330px;
  margin-top: 24px;
  font-size: 20px;
  font-weight: lighter;
}

.register-link {
  margin-left: 10px; 
  cursor: pointer; 
  font-weight: bolder;
  text-decoration: underline;
}

.register-link:hover{
  text-decoration: underline;
  font-weight: bolder;
  cursor: pointer;
}
#emailLabel, #passLabel{
  margin-left: -1120px;
}
#passwordLogin, #emailLogin {
  height: 40px;
  margin-left: -400px;
  width: 400px;
  border-color: #656ED3;
  border-radius: 50px;
  background-color: #eee7e7;
  cursor: text;
  color: #0d0d0d;
  text-align: left;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin-bottom: 40px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#passwordLogin:focus,#emailLogin:focus {

  border: solid #656ED3;
  padding: 4px;
  border-bottom:solid #5e67cc;
}





/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  outline: none;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  left: -402px;
  position: relative;
  width: 400px;
  height: 40px;
  background-color: rgb(41,123,69);
  border-radius: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#struct {
  position: absolute;
  width: 600px;
  height: 141.4px;
  left: -299px;
  bottom: -190px;
  z-index: 10;
  background: #297B45;
  border-radius: 105.53px;
  transform: rotate(-41.1deg);

}
#secondStruct{
  position: absolute;
  width: 600px;
  height: 141.4px;
  left: -290px;
  bottom: -190px;
  z-index: 9;
  background: #13dd56;
  border-radius: 105.53px;
  transform: rotate(-41.1deg);

}
/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}