/* src/styles/NewsFeed.css */

.news-feed {
    max-width: 700px;
    height: fit-content;

    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    
}

.news-items {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: flex-start;

    background-color: blueviolet;
    width: 310px;
    height: 220px;
    margin-top: 60px;
    border-radius: 5px;
    box-shadow: 0 0 6px 2px rgb(0, 0, 0);
    
}
.news-items:hover {
    cursor: pointer;
    box-shadow: 0 0 6px 1px black;
    transform: translateY(1px);
}