.form-gap {
    padding-top: 70px;
}

.p-in-the-reset{
    margin-right: -694px;
}
input[type=submit].btn-block{
    outline: none;
    background-color: green;
    color: #ffffff;
} 
input[type=submit].btn-block:hover{
    background-color: rgb(8, 199, 8);
}