/* Register Page */
label{
    margin-left: 0;
}
.msgPass{
    left: 485px;
    top: -112px;
    position: relative;
    width: 50%;

}
.messageError{
    left: 186px;
    font-size: 14px;
    top: -132px;
    color: red;
}
.msgError{
    left: 287px;
    top: -112px;
    position: relative;
    color: red;
    animation: myAnim 1s ease-in-out 0s 1 normal forwards;
}
.loginBtn{
    position: relative;
    top: -68px;
    right: -289px;
    font-weight: normal;
}
.loginBtn>span{
    text-decoration: underline;
    cursor: pointer;
    font-weight: bolder;
}
.fadeIn.register{
    outline: none;
    top: -96px;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    left: 105px;
    position: relative;
    width: 367px;
    height: 34px;
    background-color: rgb(41, 123, 69);
    border-radius: 50px;
    border-color: green;
    color: rgb(248, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fadeIn.register:hover{
    background-color: #178b3e;
}

.fadeIn.register:active{
    border: hidden hidden hidden hidden;
    background-color: green;
}
#specialist{
    position: relative;
    left: -185px;
    top: 28px;
}

#name-label {
    position: absolute;
    width: 125px;
    height: 19px;
    left: 795px;
    top: 142px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

/* Nome completo input */
#name {
    box-sizing: border-box;
    position: absolute;
    width: 367px;
    height: 34px;
    left: 756px;
    top: 164px;
    border: 1px solid #656ED3;
    border-radius: 50px;
}

#name,#email,#password,#confirmpassword{
    background-color: #FFFFFF;
    color: #000000;
    margin-top:-17px;
}
ul{
    position: absolute;
    right: 118px
}
.user{
    position: absolute;
    right: 87px;
}

/* Usuário */
#role-label {
    position: absolute;
    width: 63px;
    height: 19px;
    text-wrap: nowrap;
    left: 798px;
    top: 300px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.mailError{
    left: 200px;
    top: -266px;
    color: red;
}
/* Email input */
#email {
    
    box-sizing: border-box;
    position: absolute;
    width: 367px;
    height: 34px;
    left: 756px;
    top: 220px;
    border: 1px solid #656ED3;
    border-radius: 50px;
}

/* Email */
#email-label {
    position: absolute;
    width: 45px;
    height: 19px;
    left: 796px;
    top: 196px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.question{
    position: relative;
    left: 264px;
    top: -246px;
    font-weight: bold;
}
#role {
    box-sizing: border-box;
    position: absolute;
    left: 756px;
    top: 282px;
}
#commonUser{
    position: relative;
    left: -193px;
    top: -45px;
}
#specialistRole{
    left: 33px;
    top: 3px;
}
#specialist, #commonUser{
    width: 15px;
}
#user{
    color: green;
    left: -71px;
    top: -70px;
    word-wrap: break-word;
}

/* Senha */
#password-label {
    position: absolute;
    width: 52px;
    height: 19px;
    left: 795px;
    top: 346px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    
}


/* Senha input */
#password {
    box-sizing: border-box;
    position: absolute;
    width: 367px;
    height: 34px;
    left: 758px;
    top: 371px;
    border: 1px solid #656ED3;
    border-radius: 50px;
}

#passwordfield {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50px;
}

/* Confirmação de senha */
#confirmpassword-label {
    position: absolute;
    width: 175px;
    height: 19px;
    left:794px;
    top: 450px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

/* Confirmação de senha input */
#confirmpassword {
    box-sizing: border-box;
    position: absolute;
    width: 367px;
    height: 34px;
    left: 758px;
    top: 472px;
    border: 1px solid #656ED3;
    border-radius: 50px;
}

/* Register button container */
#register-container {
    position: absolute;
    width: 365px;
    height: 34px;
    left: 760px;
    top: 529px;
    background: #1B7138;
    border-radius: 50px;
}

/* Register button */
#register-button {
    position: absolute;
    width: 64px;
    height: 19px;
    left: 910px;
    top: 536px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: none;
    border: none;
    cursor: pointer;
}

/* Login link */
#login-link {
    position: absolute;
    width: 226px;
    height: 19px;
    left: 838px;
    top: 590px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

/* Registration success message */
#success-message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #1A1A1A;
}

/* Rectangle 6 */
#rectangle-6 {
    position: absolute;
    width: 635px;
    height: 377px;
    left: 180.26px;
    top: 510.09px;
    background: #297B45;
    border-radius: 105.53px;
    transform: rotate(-97.17deg);
}

/* Rectangle 7 */
#rectangle-7 {
    position: absolute;
    width: 635px;
    height: 377px;
    left: 165px;
    top: 536px;
    background: #7FD99D;
    border-radius: 105.53px;
    transform: rotate(-90deg);
}

/* Social media icons container */
#social-media-icons {
    position: absolute;
    width: 88.22px;
    height: 24.22px;
    left: 917px;
    top: 636px;
}
#art{
    margin:-100px 600px 0 0;
}
#name-label,#email-label,#password-label,#confirmpassword-label{
    margin-top:-14px;
    margin-left: -25px;
}
/* Vector icons */
.vector {
    background: #1B7138;
}

#vector-1 {
    position: absolute;
    left: 71.64%;
    right: 26.47%;
    top: 88.33%;
    bottom: 8.32%;
}
.eye{
    left: 517px;
    top: -180px;
    width: 32px;
    cursor: pointer;
    position: relative;
}
.confirmEye{

    cursor: pointer;
    top: -74px;
    left: 487px;
    width: 32px;
    position: relative;

}
#vector-2 {
    position: absolute;
    left: 74.22%;
    right: 24.07%;
    top: 88.33%;
    bottom: 8.63%;
}

#vector-3 {
    position: absolute;
    left: 76.64%;
    right: 21.47%;
    top: 88.33%;
    bottom: 8.3%;
}
/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    top: -59px;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes wrongPass {
	0%,
	100% {
		transform: translateY(0) rotate(0);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateY(-30px) rotate(-6deg);
	}

	30% {
		transform: translateY(15px) rotate(6deg);
	}

	45% {
		transform: translateY(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateY(9px) rotate(2.4deg);
	}

	75% {
		transform: translateY(-6px) rotate(-1.2deg);
	}
}