.signup-container {
    background-color: #fff;
    top: -18px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.eye {
    width: 22px;
    position: relative;
    right: -138px;
    top: -24px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 10px; 
}
label {
    display: block;
    margin-bottom: 5px;
}
#firstName,
#lastName,
#emailSignup,
#passwordSignup,
#specialty,
#location,
#userType {
    width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
#btnSignup {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(18, 136, 8);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
#btnSignup:hover {
    background-color: rgb(21, 189, 6);
}
.error {
    top: -32px;
    color: red;
    font-size: 14px;
    text-wrap: nowrap;
    text-align: center;
}
